.modal_container {
    background-color: white;
    margin: 30% auto 0;
    width: 500px;
    border-radius: 10px;
    border-color: black;
}

.background {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.8);
}



