.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.search {
    border-radius: 8px;
    border-color: #eac43d;
    margin-top: 1rem;
    width: 200px;
}

.add_button {
    width: 85px;
    position: fixed;
    right: 5%;
    top: 88%;
}

.item_detail {
    width: 400px;
    color: black;
}

.item_barcode {
    text-align: left;
    margin-top: 10px;
    color: black;
}

.item_price {
    text-align: right;
    color: black;
}

.search_container {
    display: flex;
    flex-direction: row;
}

.scanner_btn_Item {
    background-color: white;
    width: fit-content;
    border: none;
    border-radius: 0.75rem;
    margin-left: 10px;
}